@model HelpDesk.Client.Business.ViewModels.EmailConfirmedViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_EmailConfirmed.cshtml";
}

<div class="login-box">
    <div class="login-logo">
        <a href="#"><b>El Debugger</b></a>
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">Email @Model.Email has been confirmed</p>
        <p class="login-box-msg">Please, go to the Login page</p>
        <a asp-controller="Account" asp-action="Login" class="btn btn-primary btn-block btn-flat">Login</a>
    </div>
</div>
